# IDE
*.iml
/.idea/
.history/

# Build
.gradle
/build
/app/build
/captures

# Local
/local.properties
local.properties

# Native
.externalNativeBuild
.cxx

# OS
.DS_Store

# App specific
*.apk
*.aab
*.keystore
